<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <!--<add name="RabbitMQConnection" connectionString="host=sheep.rmq.cloudamqp.com;virtualHost=ygunknwy;username=ygunknwy;password=pAncRrH8Gxk3ULDyy-Wju7NIqdBThwCJ;timeout=0" />-->
    <add name="RabbitMQConnection" connectionString="amqp://aomvxdxj:IV4DpzvBmXchOgx5dJo0ln7X_kiXPm8-@sheep.rmq.cloudamqp.com/aomvxdxj" />
  </connectionStrings>
</configuration>